{%extends 'base.html'%}
{%block title%}info client list{%endblock %}
{%block content%}
<div>
    <table border="black" class="table print-container">
        <tr class="table-primary">
            <td>idc</td>
            <td>code_clt</td>
            <td>nom</td>
            <td>tel</td>
            <td>gsm</td>
            <td>pers_cont</td>
            <td>fax</td>
            <td>email</td>
            <td>site_web</td>
            <td>date_aff</td>
            <td>mf</td>
            <td>rc</td>
            <td>adresse</td>
            <td>assujete</td>
            <td>type</td>
            <td>timbre</td>
            <td>etat</td>
            <td>plafond</td>
            <td>client_id</td>
            <td>Exercice</td>
            <td>Total</td>

        </tr>
        {% for j in range(count) %}
        <tr>
            {% for i in range(19) %}
            <td>
                {{result[j][i]}}
            </td>
            {% endfor %}
            <td>
                <input list="datalistOptions" placeholder="year" name="year" class="form-control">
                <datalist id="datalistOptions">
                    <option>2022</option>
                    <option>2021</option>
                    <option>2020</option>
                </datalist>
            </td>
            <td>
                <button onclick="myFun({{result[j][0]}})" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Check</button>
            </td>

        </tr>

        {% endfor %}

    </table>
    <div id="content"></div>

</div>
<script>
    function myFun(x) {
        $.ajax({
            url: '/vente_client?id=' + x,
            method: 'GET',
            success: function (data) {
                var html = '<h1>Recu pour le facture de paiment</h1><br>'
                html += '<b><a>Nom client</a>&nbsp;&nbsp;&nbsp;&nbsp;Passager</b><br><br>'
                html += '<b><a>Code client: </a>&nbsp;&nbsp;&nbsp;&nbsp;2</b> </br><br>'
                html += '<b><a>Reference: </a>&nbsp;&nbsp;&nbsp;&nbsp;SF50024F</b> </br><br>'
                html += '<b><a>Date de creation: </a>&nbsp;&nbsp;&nbsp;&nbsp;12/12/2022</b> </br><br>'
                html += '<table class="table" border="black">';
                type = [' en facture', ' en ticket', '   en bon livraison'];
                html += '<tr class="table-primary"><th  colspan="2">Etat de vente</th><th>Etat de reglement</th></tr>';
                for (var i = 0; i < data[0].length; ++i) {
                    html += '<tr><td>';
                    html += type[i];
                    html += '</td><td>';
                    html += parseFloat(data[0][i]).toFixed(3);
                    html += '</td><td>';
                    html += parseFloat(data[3][i]).toFixed(3);
                    html += '</td></tr>';
                };

                html += '<tr class="table-secondary" ><td><b>Totale</b></td>';
                let tot = 0;
                let reg_tot = 0;
                for (var i = 0; i < 3; ++i) {
                    tot += parseFloat(data[0][i]);
                    reg_tot += parseFloat(data[3][i]);
                }
                html += '<td>';
                html += tot.toFixed(3);
                html += '</td><td>';
                html += reg_tot.toFixed(3);
                html += '</td></tr>';

                html += '<th colspan="3" class="table-primary">Etat d\'achat</th>';
                for (var i = 0; i < data[1].length; ++i) {
                    html += '<tr><td >';
                    html += type[i];
                    html += '</td><td colspan="2">';
                    html += parseFloat(data[1][i]).toFixed(3);
                    html += '</td></tr>';
                };


                html += '<tr class="table-secondary"><td><b>Totale</b></td>';
                let tot1 = 0;
                for (var i = 0; i < 3; ++i) {
                    tot1 += parseFloat(data[1][i]);
                }
                html += '<td colspan="2">';
                html += tot1.toFixed(3);
                html += '</td></tr>';


                html += '<th colspan="3" class="table-primary">Benefice</th>';
                for (var i = 0; i < data[0].length; ++i) {
                    html += '<tr><td>';
                    html += type[i];
                    html += '</td><td colspan="2">';
                    html += parseFloat(data[2][i]).toFixed(3);
                    html += '</td></tr>';
                };

                html += '<tr class="table-secondary"><td><b>Totale</b></td>';
                let tot2 = 0;
                for (var i = 0; i < 3; ++i) {
                    tot2 += parseFloat(data[2][i]);
                }
                html += '<td colspan="2">';
                html += tot2.toFixed(3);
                html += '</td></tr></table>';



                html += '<table class="table" border="black">';
                html += '<tr ><td class="table-info"><b> Totale de vente</b> </td><td class="table-success"><b> Totale du reglement</b> </td><td class="table-danger"><b>Rest</b></td></tr><tr><td class="table-info">'
                html += tot.toFixed(3);
                html += '</td><td class="table-success">';
                html += reg_tot.toFixed(3);
                html += '</td><td class="table-danger">'
                tot_rest = tot.toFixed(3) - reg_tot.toFixed(3);
                html += tot_rest.toFixed(3);
                html += '</td></tr></table>';

                let tot_paye = 0;
                for (var i = 0; i < 3; ++i) {
                    tot_paye += parseFloat(data[4][i]);
                }
                let en_cours = 0;
                en_cours = reg_tot.toFixed(3) - tot_paye.toFixed(3);
                html += '<table class="table" border="black">';
                html += '<tr class="table-info"><td ><b>Totale reglement </b></td><td><b>Totale payee</b></td><td><b>Totale encours</b></td></tr><tr><td>';
                html += reg_tot.toFixed(3);
                html += '</td><td>';
                html += tot_paye.toFixed(3);
                html += '</td><td>';
                html += en_cours.toFixed(3);
                html += '</td></tr></table>';


                html += '<table class="table" border="black">';
                html += '<tr class="table-primary"><td>Type de reglement en facture </td><td>Montant</td></tr>';
                html += '<tr><td>espece</td><td>'
                html += data[6][0][0]
                html += '</td></tr>'
                html += '<tr><td>cheque</td><td>'
                html += data[6][0][1]
                html += '</td></tr>'
                html += '<tr><td>tpe</td><td>'
                html += data[6][0][2]
                html += '</td></tr>'
                html += '<tr><td>cheque cadeaux</td><td>'
                html += data[6][0][3]
                html += '</td></tr>'
                html += '<tr><td>vierment</td><td>'
                html += data[6][0][4]
                html += '</td></tr>'
                html += '<tr><td>traite</td><td>'
                html += data[6][0][5]
                html += '</td></tr>'
                html += '</table>'

                html += '<table class="table new-page" border="black">';
                html += '<tr class="table-primary"><td>Type de reglement en ticket </td><td>Montant</td></tr>';
                html += '<tr><td>espece</td><td>'
                html += data[6][1][0]
                html += '</td></tr>'
                html += '<tr><td>cheque</td><td>'
                html += data[6][1][1]
                html += '</td></tr>'
                html += '<tr><td>cheque cadeaux</td><td>'
                html += data[6][1][2]
                html += '</td></tr>'
                html += '<tr><td>tpe</td><td>'
                html += data[6][1][3]
                html += '</td></tr>'
                html += '</table>'

                html += '<table class="table" border="black">';
                html += '<tr class="table-primary"><td>Type de reglement en bon livraison </td><td>Montant</td></tr>';
                html += '<tr><td>espece</td><td>'
                html += data[6][2][0]
                html += '</td></tr>'
                html += '<tr><td>tpe</td><td>'
                html += data[6][2][1]
                html += '</td></tr>'
                html += '<tr><td>cheque</td><td>'
                html += data[6][2][2]
                html += '</td></tr>'
                html += '<tr><td>traite</td><td>'
                html += data[6][2][3]
                html += '</td></tr>'
                html += '<tr><td>vierment</td><td>'
                html += data[6][2][4]
                html += '</td></tr>'
                html += '<tr><td>cheque cadeaux</td><td>'
                html += data[6][2][5]
                html += '</td></tr>'
                html += '</table>'

                html += '<button class="btn btn-primary print-container" alt="print screen" onclick="window.print();" target="_blank" style="cursor:pointer;">print </button > '
                $("#content").html(html);
            }
        })
    }
</script>

{%endblock%}